<div class="container text-center">
  <h4>URL Shortener</h4>
  <form novalidate>
    <input type="text" name="url" placeholder="enter url here ..." required>
    <button class="btn btn-info" type="submit">Shorten</button>
  </form>
</div>