<div class="container text-center">
  <h4 class="py-3">URL Shortener</h4>
  <form id="url-convert-form" action="/" method="POST" novalidate>
    <div class="input-group mb-3">
      <span class="input-group-text">Original URL</span>
      <input type="text" name="urlOrigin" class="form-control" placeholder="ex: http://xxx.com/" value="{{ originalUrl }}" pattern="https?://.+" required>
      <button id="btn-shorten" class="btn btn-outline-secondary" type="submit">Shorten</button>
    </div>
  </form>
  <div class="input-group mb-3">
    <span class="input-group-text">Shortener URL</span>
    <input id="url-short" type="text" name="urlShort" class="form-control" value="{{ shortUrl }}{{ shortCode }}" disabled>
    <button id="btn-copy" class="btn btn-secondary btn-copy" type="button" {{disabled shortCode}}>Copy</button>
  </div>
</div>
<script src="/javascripts/index.js"></script>