.input-group-text {
  justify-content: center;
  width: 136px;
  background-color: #959595;
  color: #fff;
}

.btn-copy {
  width: 86px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
}

.btn-copy:after {
  content: "";
  background: #bebebe;
  display: block;
  position: absolute;
  opacity: 0;
  transition: all 0.4s;
  top: 0;
  left: 0;
  width: 90px;
  height: 42px;
}

.btn-copy:active:after {
  opacity: 1;
  transition: 0s;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;

}

/* 驗證不通過 */
form.was-validated .form-control:invalid {
  border: 1px solid #ced4da;
}

/* 驗證通過 */
form.was-validated .form-control:valid {
  border: 1px solid #ced4da;
}

@media screen and (min-width: 1200px) {
  .container{
    max-width: 900px;
  }
}

@media screen and (max-width: 575px) {
  .container .title {
    padding-top: 1rem;
    text-align: center;
  }
  .container .img-box {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
