.input-group-text {
  justify-content: center;
  width: 136px;
  background-color: #959595;
  color: #fff;
}

.btn.btn-outline-secondary {
  width: 86px;
}

@media screen and (min-width: 1200px) {
  .container{
    max-width: 900px;
  }
}

